a[data-v-58a030f0]:hover {
  border-bottom: 5px solid red;
  padding-bottom: 2px;
}
a[data-v-58a030f0] {
  color: #000;
}
#scroll[data-v-58a030f0] {
  transition: 0.4s;
}
.size[data-v-58a030f0] {
  font-size: 1.5rem;
}
.nav[data-v-58a030f0] {
  flex-grow: 0;
  padding-left: 15px;
  transition: 0.4s;
}
.margin[data-v-58a030f0] {
  margin-right: 2rem;
}
.navigation {
  padding: 0 16px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .toggle-page {
  display: flex;
  flex: 1;
}
.navigation .right {
  justify-content: flex-end;
}
.navigation i {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffebcd;
  color: #000;
}
.navigation i,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  position: absolute;
  bottom: 24px;
  width: 100%;
  gap: 16px;
}
.pagination span {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 black();
}
.pagination .active {
  background-color: #000;
}
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.7s ease-in-out;
}
.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}
.slide-enter-to,
.slide-leave-from {
  opacity: 1;
}
h1[data-v-1d92f8c5],
p[data-v-1d92f8c5] {
  text-align: center;
  position: relative;
  bottom: 40rem;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}
h1[data-v-1d92f8c5] {
  color: #000;
  font-size: 3.5rem;
}
.carousel[data-v-1d92f8c5] {
  position: relative;
  max-height: 100vh;
  height: 100vh;
}
.carousel .slide-info[data-v-1d92f8c5] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
.carousel .slide-info img[data-v-1d92f8c5] {
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 576px) {
  .parent[data-v-e1903d86] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.fade-in[data-v-e1903d86] {
  margin-bottom: 50px;
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(0.5);
  box-sizing: border-box;
  padding: 20px;
}
.parent[data-v-e1903d86] {
  padding-top: 5rem;
}
.container-box[data-v-e1903d86] {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
p[data-v-e1903d86] {
  overflow: hidden;
  height: 25vh;
}
img[data-v-e1903d86] {
  -o-object-fit: cover;
  object-fit: cover;
  height: 43vh;
  width: 100%;
}
#propos[data-v-e1903d86] {
  padding-top: 0;
}
@media (min-width: 576px) {
  .parent[data-v-70b2ad65] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center !important;
  }
}
.card-projet[data-v-70b2ad65] {
  border: 3px solid #000;
  box-shadow: 5px 5px 5px;
}
.marginPortfolio[data-v-70b2ad65] {
  margin-left: 0;
  margin-right: 0;
}
.fade-in[data-v-70b2ad65] {
  margin-bottom: 50px;
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(0.5);
  box-sizing: border-box;
  padding: 20px;
}
.hover-style[data-v-70b2ad65]:before {
  transform: scale(0);
  transform-origin: bottom left;
}
.hover-style[data-v-70b2ad65]:hover:before {
  transform: scale(1);
}
.hover-style[data-v-70b2ad65]:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  opacity: 0.3;
  background-image: url(../img/plus-solid.ad8dc961.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: red;
  z-index: 10000;
  transition: transform 1s ease-in;
}
a[data-v-70b2ad65] {
  text-decoration: none;
  color: #000;
}
.parent[data-v-70b2ad65] {
  padding-top: 5rem;
}
.style-width[data-v-70b2ad65] {
  width: 25rem;
}
.container-fluid[data-v-70b2ad65] {
  width: 80%;
}
@media (min-width: 576px) {
  .parent[data-v-f21ad7a4] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center !important;
  }
}
.color1[data-v-f21ad7a4] {
  background-color: #df1818;
  border-radius: 15px;
  -webkit-animation: progres-f21ad7a4 5s linear;
  animation: progres-f21ad7a4 5s linear;
}
@-webkit-keyframes progres-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 90%;
  }
}
@keyframes progres-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 90%;
  }
}
.color2[data-v-f21ad7a4] {
  background-color: #df1818;
  border-radius: 15px;
  -webkit-animation: progres2-f21ad7a4 5s linear;
  animation: progres2-f21ad7a4 5s linear;
}
@-webkit-keyframes progres2-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 50%;
  }
}
@keyframes progres2-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 50%;
  }
}
.color3[data-v-f21ad7a4] {
  background-color: #df1818;
  border-radius: 15px;
  -webkit-animation: progres3-f21ad7a4 5s linear;
  animation: progres3-f21ad7a4 5s linear;
}
@-webkit-keyframes progres3-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 60%;
  }
}
@keyframes progres3-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 60%;
  }
}
.color4[data-v-f21ad7a4] {
  background-color: #df1818;
  border-radius: 15px;
  -webkit-animation: progres4-f21ad7a4 5s linear;
  animation: progres4-f21ad7a4 5s linear;
}
@-webkit-keyframes progres4-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 70%;
  }
}
@keyframes progres4-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 70%;
  }
}
.color5[data-v-f21ad7a4] {
  background-color: #df1818;
  border-radius: 15px;
  -webkit-animation: progres5-f21ad7a4 5s linear;
  animation: progres5-f21ad7a4 5s linear;
}
@-webkit-keyframes progres5-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 60%;
  }
}
@keyframes progres5-f21ad7a4 {
  0% {
    width: 130px;
  }
  to {
    width: 60%;
  }
}
.parent[data-v-f21ad7a4] {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.check[data-v-f21ad7a4] {
  font-size: 1rem;
  position: relative;
  bottom: 5px;
}
.bar[data-v-f21ad7a4] {
  height: 50px;
}
h3[data-v-f21ad7a4] {
  font-size: 1.3rem;
}
.anim-text[data-v-f21ad7a4] {
  background-color: #000;
  text-align: right;
  padding-right: 10px;
}
a,
footer {
  color: #fff;
}
footer {
  background-color: #000;
  height: 10em;
}
li {
  list-style: none;
}
.footer__icone {
  padding-top: 3rem;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footer__text {
  display: flex;
  justify-content: center;
}
.fade-in {
  margin-bottom: 50px;
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(0.5);
  box-sizing: border-box;
  padding: 20px;
}
.img-bar {
  margin-top: 3rem;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.img-fond {
  background-attachment: fixed;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.picture1 {
  background-image: url(../img/bg-2.4afbe92f.jpg);
}
.picture2 {
  background-image: url(../img/bg-1.9951c9d0.jpg);
}
.picture3 {
  background-image: url(../img/bg-4.aa3b999c.jpg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
